/* =========================================
                Form Styles
   ========================================= */

.form {
    &__label {
        display: block;
        font-size: .85em;
        margin: .2em 0;
    }

    &__field {
        box-sizing: border-box;
        display: block;
        width: 350px;
        max-width: 100%;
        margin-bottom: 1em;
        font-size: 1rem;
    }

    &__submit {
        padding: .2em .5em;
        margin: .5em 0;
        font-size: 1rem;
        cursor: pointer;
    }
}
